.collection-item {
    width: 22%;
    dispaly: flex;
    flex-direction: column;
    height: 350px;
    align-items: center;
    margin: 1rem;

    .image {
        width: 100%;
        height: 95%;
        background-size: cover;
        background-position: center;
        margin-bottom: 5px;
    }
    .collection-footer {
        width: 100%;
        height: 5%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 18px;
        margin-top: 0.5rem;

        .name {
            flex: 0.9;
        }
        .price {
            flex: 0.1;
            font-weight: bold;
        }
    }
}
